<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
    <h1 th:text="${title}">Default Title</h1>

    <nav th:replace="fragments :: navigation"></nav>

    <p th:unless="${cheeses} and ${cheeses.size()}">no cheese :( </p>

    <form method = "POST">
        <dl>
            <li th:each="cheese : ${cheeses}">
                <input type="checkbox" th:name = cheese th:value = "${cheese.key}" />
                <label th:text="${cheese.key + ' - ' + cheese.value}"/>
            </li>
        </dl>
        <input type = "submit" value = "Remove" />
    </form>
</body>
</html>