<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<h1 th:text="${title}">Default Title</h1>
<nav th:replace="fragments :: navigation"></nav>

<form method = "POST">
    <div th:each="cheese : ${cheeses}">
        <input type="checkbox" name="{cheese.cheeseName}" th:value="${cheese.cheeseName}" />
        <label th:text = "${cheese.cheeseName}"></label>
    </div>

    <input type = "submit" value = "Remove" />
</form>
</body>
</html>